{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}

<div class="container"><br><br>
    <h1>Categories</h1><br><br>

<table class="table"> 
    <tr>
        <th>Id</th>
        <th>Nom de catégories</th>
        <th>Action</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td>
            <a href="{{ path('app_category_update',{id: category.id}) }}">Modifier</a> |
            <a href="{{ path('app_category_delete',{id: category.id}) }}" class="text-danger"> Supprimer</a>
        </td>
    </tr>
        {% else %}
        <p>Aucune catégorie à afficher pour l'instant </p>
    {% endfor %}
    </table>
    <br> 
    <a class="btn btn-primary" href="{{ path('app_category_new') }}">Ajouter une catégorie</a>
</div>
{% endblock %}
