{{ form_start(form) }}
    <label for="">Nom du produit</label>
    {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}

    <label for="">Description</label>
    {{ form_widget(form.description,{ 'attr': {'class': 'form-control'} }) }}

    <label for="">Prix</label>
    {{ form_widget(form.price,{ 'attr': {'class': 'form-control'} }) }}

    <label for="">Sous-catégories</label>
    {{ form_widget(form.subCategories,{ 'attr': {'class': 'form-control'} }) }} <br>

    <button class="btn btn-outline-primary btn-block">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


