{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}


<div class="container"><br><br>
    <h1>Liste des Produits</h1> <br><br>
    {% include 'layouts/_flash_message.html.twig' %}


    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ loop.index }}</td>        {# 1,2,3... #}
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description | slice(0, 40) ~ '...' }}</td>
                <td>{{ product.price }}</td>
                <td>
                    {% if product.stock > 0 %}
                        {{ product.stock }}
                    {% else %}
                      <span class="text-danger">Rupture de stock</span>
                    {% endif %}
                </td>
                <td>
                <a class="btn btn-outline-primary" href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
                <a class="btn btn-outline-success" href="{{ path('app_product_edit', {'id': product.id}) }}">Éditer</a>
                <a class="btn btn-outline-info" href="{{ path('app_product_stock_add', {'id': product.id}) }}">Stock</a>

            </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_product_new') }}">Créer un nouveau produit</a>
</div>
{% endblock %}
