{{ form_start(form) }}

    <label for="">Nom de la sous-catégorie</label>
    {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}

    <label for="">Catégorie</label>
    {{ form_widget(form.category,{ 'attr': {'class': 'form-control'} }) }} <br>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
