{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<div class="container"><br><br>

    <h1>Utilisateurs</h1><br><br>

{% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Rôle</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
            {% if('ROLE_ADMIN' in user.roles)%}
                <span class="text-primary">Administrateur</span>
            {% elseif('ROLE_EDITOR' in user.roles)%}
                <span class="text-success">Éditeur</span>
            {% else %}
                <span class="text-secondary">Utilisateur</span>
            {% endif %}

            
        </td>
        <td>
            {% if ('ROLE_ADMIN' in user.roles) == false %}

            {% if ('ROLE_EDITOR' in user.roles) == false %}
                <a onclick="return confirm('Êtes-vous sûr de vouloir ajouter cet utilisateur comme éditeur ?');" class="btn btn-outline-primary" href="{{ path('app_user_to_editor', { 'id' : user.id })}}"> Ajouter comme éditeur</a>
            {% else %}
                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer le rôle d\'éditeur pour cet utilisateur ?');" class="btn btn-outline-warning" href="{{ path('app_user_remove_editor', { 'id' : user.id })}}"> Retirer le rôle éditeur</a>
            {% endif %}
            <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" href="{{ path('app_user_remove', { 'id' : user.id }) }}" class="btn btn-danger">Supprimer</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}
